.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.left {
    flex: 1;
}

.right {
    width: 300px;
    margin-left: 100px;
    border: solid 2px black;
}